@model sportSiteMvc.Models.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>@Model.ExerciseTitle</h2>


<div class="content">
    <p>@Model.ExercisePhoto</p>
    <p>@Model.ExerciseContent</p>
</div>

<p class="edd position">
    @Html.ActionLink("Back to List", "List")
</p>
<p class="edd position">
    @Html.ActionLink("Edit", "Edit/" + Model.ExerciseId)
</p>
