@model sportSiteMvc.Models.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>@Model.ExerciseTitle</h2>


<div>
    <p>@Model.ExercisePhoto</p>
    <p>@Model.ExerciseContent</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit/" + Model.ExerciseId)
</div>
<div>
    @Html.ActionLink("Back to List", "List")
</div>
